* {
    background-color: white;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  flex-grow: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
    color: black;
    text-decoration: none; 
  }

h1 {
    font-size: 1rem;
    font-weight: normal;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1,5rem;
    font-weight: normal;
    font-family: Arial, sans-serif;
  }  

.right h2 {
  margin-bottom: 4rem;
}

.left a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left {
  text-align: center;
  margin-left: 15rem;
}

.right {
  text-align: center;
  margin-right: 15rem;
}

.form-group {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  padding: 0.5rem;
  margin-left: -7rem;
  margin-bottom: 1rem;
  width: 200%;
  text-align: center;
}

.form-group button {
    align-self: flex-end;
  }

button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: black 1px solid;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button {
    padding: 0.5rem 1rem;
    background-color: white;
    border: black 1px solid;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none; 
    color: black;
  }

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.button-container a {
    margin-right: 2rem;
  }
  

.form-group button {
    margin-right: -8rem; 
  }

.signup {
  margin-top: 1rem;
  text-align: center;
}

.container.center-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 1rem;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-field {
  margin-bottom: 1rem;
}

.form-field label {
  margin-bottom: 3rem;
}

.button-container-formticket {
  text-align: right;
}

.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1rem;
  margin-top: 1rem;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.review-ticket {
    border: 1px solid #ddd;
    padding: 0.5rem;
    margin-top: 0.5rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.review {
    color: black;
  }

.date_time {
  text-align: right !important;
}

.container-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

.followers {
  font-size: 1rem;
  font-weight: normal;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
  text-align: center;
}

.form-group-followers {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group-followers input[type="text"] {
  margin-right: 10px;  
}

.center-list {
  list-style-type: none; /* Removes bullet points */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; /* Removes default padding */
}

.center-list li {
  border: 1px solid #000;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  gap: 0,1rem; 
  justify-content: flex-end; 
}

