{% extends 'base.html' %}
{% block content %}

    <div class="button-container">
        <a href="{% url 'create_ticket' %}" class="button">Demander une critique</a>
        <a href="{% url 'create_review' %}" class="button">Créer une critique</a>        
    </div>
    
    {% for post in posts %}
    <div class="feed-container">
        {% if post.content_type == 'TICKET' %} 
            {% include 'feed/ticket_snippet.html' with ticket=post %}   
        {% elif post.content_type == 'REVIEW' %}
            {% include 'feed/review_snippet.html' with review=post %}
        {% endif %}
    </div>
    {% endfor %}
{% endblock content %}
