{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <form method="post">
        {{ form.followed_user.label_tag }} {{ form.followed_user }}
        {% csrf_token %}
        <button type="submit" >Confirmer</button>
    </form>
    <h3>Abonnements</h3>
    <ul>
        {% for follow in following %}
            <li>{{ follow.followed_user.username }}</li>
        {% empty %}
            <li>Aucun abonnement.</li>
        {% endfor %}
    </ul>
    <h3>Abonnés</h3>
    <ul>
        {% for follow in followers %}
            <li>{{ follow.user.username }}</li>
        {% empty %}
            <li>Aucun abonné.</li>
        {% endfor %}
    </ul>
{% endblock content %}


