{% extends 'base.html' %}
{% block content %}
    <p>Vous êtes connecté !</p>

    <h1>Feed</h1>
    <a href="{% url 'create_ticket' %}" class="btn btn-primary">Demander une critique</a>
    <a href="{% url 'create_review' %}" class="btn btn-primary">Créer une critique</a>
    <a href="{% url 'follow_users' %}" class="btn btn-primary">Suivre des utilisateurs</a>
    <a href="{% url 'following_list' %}" class="btn btn-primary">Abonnements</a>
    <ul>
        {% for ticket in tickets %}
            <li>
                <h2>{{ ticket.title }}</h2>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
                {% endif %}
                <p>Created by {{ ticket.user.username }}</p>
                {% if ticket.review_set.all %}
                    <h3>Reviews:</h3>
                    <ul>
                        {% for review in ticket.review_set.all %}
                            <li>
                                <p>{{ review.rating }} stars - {{ review.headline }}</p>
                                <p>{{ review.body }}</p>
                                <p>Created by {{ review.user.username }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
