{% extends 'base.html' %}
{% block content %}

{% for post in posts %}
    {% if post.content_type == 'REVIEW' %}
    <div class="feed-container">
        <div class="date_time">
            {{ post.time_created|date:"H:i, d/m/Y" }}
        </div>
        {% include 'feed/review_snippet.html' with review=post %}
        {% if post.ticket %}
            {% include 'feed/ticket_snippet.html' with ticket=post.ticket show_user_info=False %}
        {% endif %}
        <div class="button-container">
            <a href="{% url 'edit_review' post.id %}" class="button">Modifier</a> 
            <a href="{% url 'delete_review' post.id %}" class="button">Supprimer</a>
        </div>

    </div>
    {% elif post.content_type == 'TICKET' %}
    <div class="feed-container">
        <div class="date_time">
            {{ post.time_created|date:"H:i, d/m/Y" }}
        </div>    
        {% include 'feed/ticket_snippet.html' with ticket=post show_user_info=True %}
        <div class="button-container"> 
            <a href="{% url 'edit_ticket' post.id %}" class="button">Modifier</a> 
            <a href="{% url 'delete_ticket' post.id %}" class="button">Supprimer</a>
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock content %}

